.swal2-container {
  z-index: 9999; /* Ajusta este valor según sea necesario */
}
body {
  margin: 0;
  padding: 0;
}
.kau {
  font-family: "Kaushan Script", cursive;
}
.nanum-myeongjo-bold {
  font-family: "Nanum Myeongjo", sans-serif;
  font-weight: 700;
}
.kaushan-script {
  font-family: "Kaushan Script", cursive;
}
/* --blue-50: #f3f1ff;
--blue-100: #eae6ff;
--blue-200: #d7d0ff;
--blue-300: #baaaff;
--blue-400: #9979ff;
--blue-500: #7944ff;
--blue-600: #6c1eff;
--blue-700: #5c0af5;
--blue-800: #4e09ce;
--blue-900: #420aa8;
--blue-950: #250372;
#1f0372 */

